// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

.nav__trigger {
  background-repeat: repeat;
  background-color: $dark-text;
  cursor: pointer;
  z-index: 100;
  border-top: 0.3em solid scale-color($dark, $lightness: -40%);
  .icon-menu {
    width: 1.5em;
    height: 1.3125em;
    margin: 1.025em 0.6em 1.025em 0;
    float: left;
  }
  span {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0.7em 0 0 0;
    color: $white;
    float: left;
  }
}

.main-nav {
  font-size: 1em;
  z-index: 100;
}

.main-nav li {
  background-color: scale-color($dark, $lightness: -25%);
  margin-bottom: 0;
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -40%);
  }
}

.main-nav li a {
  display: inline-block;
  font-size: 1.2em;
  color: $white;
  border-bottom: none;
  padding: 0.6em 0 0.7em 8%;
}

.main-nav li a.active {
	color: scale-color($contrast, $lightness: 60%);
	text-decoration: underline;
}

// Hide / show sub-section navigation based on JS being available
.main-nav .parent .sectiontoggle {
  display: none;
}

.js .main-nav .parent-item {
  float: left;
}

.js .main-nav .parent .sectiontoggle {
  display: block;
  float: right;
  padding: 0;
  margin: 0.5em 5% 0.5em 0;
  div {
   display: inline-block;
   padding: 0.1em 0.4em;
   background-color: scale-color($dark, $lightness: -65%);  
  }
  .icon-arrow-down,
  .icon-arrow-up {
    width: 0.625em;
    height: 0.625em; 
  }
}

.main-nav .sub-menu {
  clear: both;
}

.js .main-nav .sub-menu {
  visibility: hidden;
  height: 0;
}

.js .main-nav .sub-menu.open {
  visibility: visible;
  height: auto;
}

.main-nav .sub-menu li a {
  font-size: 1.1em;
  width: 100%;
  &:before {
    content: "— "
  }
}

.main-nav li:hover a {
  text-decoration: underline;
}

.main-nav li:hover .sub-menu a {
  text-decoration: none;
}

.main-nav .sub-menu li {
  background-color: $dark;
  &:hover {
    background-color: scale-color($dark, $lightness: -40%);
  }
  &:hover a {
    text-decoration: underline;
  }
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -15%);
    &:hover {
      background-color: scale-color($dark, $lightness: -40%);
    }
  }
}



.js .nav__trigger {
  position: fixed;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 0;
}

.js nav.nav-collapse {
  position: fixed !important;
  z-index: 100;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 3.375em;
}

.js nav.nav-collapse .main-nav ul.sub-menu.open {
  width: auto;
  max-height: 20em;
  max-height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
  //hide vertical scrollbar in webkit, and then in IE10+:
  &:-webkit-scrollbar { width: 0 !important }
  -ms-overflow-style: none;
  //momentum scrolling on mobile webkit, ht/ @chuckle_hound
  -webkit-overflow-scrolling: touch; 
}

// For the benefit of Windows Phone 8 IEmobile:

@media only all and (max-width: 41em) {
	
	.js .nav-collapse ul {
		display: none;
	}
	
	.js .nav-collapse.opened ul {
		display: block;
	}
	
} //max-width 41em


// Enhanced view

@media only all and (min-width: 41em) {
  
  // Remove 'position: fixed' jazz and trigger
  
  .nav__trigger {
    display: none;
  }
  
  .js nav.nav-collapse {
    position: static !important;
    border-bottom: 0.3em solid $mid;
  }
  
  // Build our sections into 3-up, two-row list:
  
  .main-nav li {
    z-index: 100;
    width: 33.3333%;
    height: 4.8125em;
    float: left;
    border-bottom: 0.1em solid scale-color($dark, $lightness: 10%);
    &:nth-child(2n) {
      background-color: inherit;
    }
  }
  
  .main-nav .parent-item {
    max-width: 80%;
  }
  
  .js nav.nav-collapse .sub-menu.open {
    max-height: 85vh;
    overflow: scroll;
    //momentum scrolling on mobile webkit, ht/ @chuckle_hound
    -webkit-overflow-scrolling: touch; 
    min-width: 33.333%;
    position: absolute;
    margin-top: 4.7em;
    li a {
      padding: 0.7em 1.5em 0.7em 1em;
    }
  }

  
  .main-nav .sub-menu {
    z-index: 100;
  }
  
  .main-nav .sub-menu li {
    z-index: 100;
    width: 100%;
    float: none;
    height: auto;
  }
  
} //end min 41em

@media only all and (min-width: 56em) {
  
  // Build our sections into 6-up, one-row list:
  
  nav {
    background-color: $dark;
    margin: 0 0 0 0;
    padding: 0 5% 0 5%;
  }
  
  .nav-collapse .main-nav {
    height: 6em;
    max-width: 80em;
    margin: 0 auto 0 auto;
  }
  
  .main-nav li {
    font-size: 0.9em;
    font-weight: 400;
    width: 20%;
    margin-right: 2.5%;
    padding: 0.4em 0 1.2em 0;
    background-color: inherit;
    height: 6em;
    float: left;
    border-bottom: none;
    &:nth-child(2n) {
      background-color: inherit;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      height: 6em;
    }
  }
  
  .main-nav li.home,
  .main-nav li.contact-us {
    width: auto;
    max-width: 5%;
    margin-right: 5%;
  }
  
  .main-nav li.browse-films {
    width: 12%;  
  }
  
  .main-nav li.resources {
    max-width: 18%;
  }
  
  .main-nav .parent-item {
    max-width: 70%;
  }
  
  .js .main-nav .parent .sectiontoggle {
    float: left;
    padding-left: 5%;
  }
  
  .main-nav .sub-menu {
    visibility: hidden;
  	position: absolute;
  	left: auto;
  	margin-top: 5.9em;
    left: auto;
    width: 25%;
    a {
      height: auto;
    }
  }
  
  .main-nav li:hover .sub-menu {
    display: block;
    visibility: visible;
    height: auto;
    position: absolute;
    margin-top: 5.9em;
    left: auto;
    width: auto;
    margin-left: 0.8em;
    li a {
      padding: 0.6em 1em 0.6em 1em;
    }
  }

  .js nav.nav-collapse .main-nav ul.sub-menu.open {
    margin: 4.7em 0 0 0.8em;
    min-width: initial;
    li a {
      padding: 0.6em 1em 0.6em 1em;
    }
  }
  
  .main-nav .sub-menu li {
    height: auto;
    padding: 0 1em 0 0;
    font-size: 1em;
  }
  
} //end min 56em

@media only all and (min-width: 58.75em) {
  
  .main-nav li.contact-us {
    max-width: 7%;
  }
  
  .main-nav li.resources {
    max-width: 16%;
  }
  
} //end min 58.75em

@media only all and (min-width: 63.9375em) {
  
  .main-nav li.home {
    width: 8%;
    max-width: 8%;
    margin-right: 2%;
  }
  
  .main-nav li.resources {
    max-width: 14%;
  }
  
  .main-nav li.browse-films {
    width: 14%;
  }
  
  .main-nav li.contact-us {
    width: 10%;
    max-width: 10%;
    margin-right: 2%;
  }

} // end min 63.9375em

@media only all and (min-width: 68.125em) {
  
  nav,
  .nav-collapse .main-nav {
    height: 4.9em;
  }
  
  .main-nav li {
    height: 4.5em;
  }
  
  .nav-collapse .main-nav li a {
    height: 4em;
  }
  
  .main-nav li:hover .sub-menu,
  .main-nav .sub-menu {
    margin-top: 4.7em;
  }
  
  .main-nav .sub-menu li a {
    height: auto;
  }
  
} //end min 71.25em

@media only all and (min-width: 82.25em) {
  
  .main-nav li.about a.parent-item {
    max-width: 60%;
  }
  
} // end min 82.25em

@media only all and (min-width: 96.25em) {
  
  .main-nav li.about a.parent-item {
    max-width: 55%;
  }
  
} // end min 96.25em