// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

// Mobile-first - stacking header with 100% wide
// sections, then enhanced via media query

.header {
  background-color: $white;
  width: 100%;
  margin: 0 0 1.5em 0;
  text-align: center;
}

.header__part {
  height: 10.375em;
  background-repeat: no-repeat;
}

.header__part--brand {
  background-position: left top;
}

.header__search-trigger {
  background-color: $mid;
}

.header__part--search {
  background-position: right top;
}

.header__part--brand .icon-sos-logo {
  margin: 2em 8% 0 8%;
  width: 84%;
  height: 5.75em;
  max-width: 17.8125em;
}