// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

.main-nav li {
  background-color: $dark;
  margin-bottom: 0;
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -20%);
  }
}