// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

.nav__trigger {
  background-repeat: repeat;
  background-color: $dark-text;
  cursor: pointer;
  .icon-menu {
    width: 1.5em;
    height: 1.3125em;
    margin: 1.025em 0.6em 1.025em 0;
    float: left;
  }
  span {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0.7em 0 0 0;
    color: $white;
    float: left;
  }
}

.main-nav li {
  background-color: scale-color($dark, $lightness: -25%);
  margin-bottom: 0;
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -40%);
  }
}

.main-nav li a {
  display: inline-block;
  font-size: 1.1em;
  color: $white;
  border-bottom: none;
  padding: 0.6em 0 0.7em 8%;
}

// Hide / show sub-section navigation based on JS being available
.main-nav .parent .sectiontoggle {
  display: none;
}

.js .main-nav .parent-item {
  float: left;
}

.js .main-nav .parent .sectiontoggle {
  display: block;
  float: right;
  padding: 0;
  margin: 0.5em 5% 0.5em 0;
  div {
   display: inline-block;
   padding: 0.1em 0.4em;
   background-color: scale-color($dark, $lightness: -65%);  
  }
  .icon-arrow-down,
  .icon-arrow-up {
    width: 0.625em;
    height: 0.625em; 
  }
}

.main-nav .sub-menu {
  clear: both;
}

.js .main-nav .sub-menu {
  visibility: hidden;
  height: 0;
}

.js .main-nav .sub-menu.open {
  visibility: visible;
  height: auto;
}

.main-nav .sub-menu li {
  background-color: $dark;
  &:nth-child(2n) {
    background-color: scale-color($dark, $lightness: -15%);
  }
}

.main-nav .sub-menu li a {
  font-size: 1em;
  &:before {
    content: "— "
  }
}

.js .nav__trigger {
  position: fixed;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 0;
}

.js nav.nav-collapse {
  position: fixed !important;
  //this wee trick fixes position: fixed on most android 2.2 and 2.3
  -webkit-backface-visibility: hidden;
  bottom: 3.375em;
}

.js nav.nav-collapse.opened {
  clip: auto;
  width: 100%;
  .sub-menu {
    max-height: 20em;
    max-height: 50vh;
    overflow: scroll;
    //momentum scrolling on mobile webkit, ht/ @chuckle_hound
    -webkit-overflow-scrolling: touch; 
  }
}

// Enhanced view

@media only all and (min-width: 41em) {
  
  // Remove 'position: fixed' jazz and trigger
  
  .nav__trigger {
    display: none;
  }
  
  .js nav.nav-collapse {
    position: static !important;
  }
  
  // Build our sections into 3-up, two-row list:
  
  .main-nav li {
    z-index: 5;
    width: 33.3333%;
    height: 4.8125em;
    float: left;
    border-bottom: 0.1em solid scale-color($dark, $lightness: 10%);
    &:nth-child(2n) {
      background-color: inherit;
    }
  }
  
  .main-nav .parent-item {
    max-width: 80%;
  }
  
  .js nav.nav-collapse .sub-menu.open {
    max-height: 85vh;
    overflow: scroll;
    //momentum scrolling on mobile webkit, ht/ @chuckle_hound
    -webkit-overflow-scrolling: touch; 
  }
  
  .main-nav .sub-menu {
    z-index: 0;
  }
  
  .main-nav .sub-menu li {
    z-index: 0;
    width: 100%;
    float: none;
    height: auto;
  }
  
} //end min 41em

@media only all and (min-width: 56em) {
  
  // Build our sections into 6-up, one-row list:
  
  .nav-collapse .main-nav {
    padding: 0 5% 0 5%;
    height: 6em;
  }
  
  .main-nav li {
    font-size: 0.9em;
    font-weight: 400;
    width: 20%;
    margin-right: 2.5%;
    padding: 0.4em 0 1.2em 0;
    background-color: inherit;
    height: 6em;
    float: left;
    border-bottom: none;
    &:nth-child(2n) {
      background-color: inherit;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover a {
      text-decoration: underline;
    }
  }
  
  .main-nav li.home,
  .main-nav li.browse-films,
  .main-nav li.contact-us {
    width: auto;
    max-width: 10%;
  }
  
  .main-nav .parent-item {
    max-width: 70%;
  }
  
  .js .main-nav .parent .sectiontoggle {
    float: left;
    padding-left: 5%;
  }
  
  .main-nav .sub-menu {
    visibility: hidden;
  	position: absolute;
  	left: auto;
  	top: 6em;
    left: auto;
    width: 25%;
  }
  
  .main-nav li:hover .sub-menu {
    display: block;
    visibility: visible;
    height: auto;
    position: absolute;
    top: 6em;
    left: auto;
    width: 25%;
  }
  
  .main-nav .sub-menu li {
    height: auto;
    padding: 0;
    font-size: 1em;
    a {
      text-decoration: none;
    }
    &:hover a {
      text-decoration: underline;
    }
  }
  
} //end min 55em

@media only all and (min-width: 58.75em) {
  
  .main-nav li {
    width: 20%;
    margin-right: 2.5%;
  }
  
  .main-nav li.home,
  .main-nav li.browse-films {
    width: auto;
    max-width: 8%;
  }
  
  .main-nav li.resources .parent-item {
    max-width: 60%;
  }
  
  .main-nav li.contact-us {
    max-width: 12%;
  }
  
  
} //end min 58.75em

@media only all and (min-width: 63.9375em) {
  
  .main-nav li.home {
    width: 10%;
  }
  
  .main-nav li.resources,
  .main-nav li.browse-films {
    max-width: 16%;
  }
  
  .main-nav li.resources .sectiontoggle {
    padding-left: 15%;
  }
}