// Utility class for constraining main 'body' layout width:

.container {
  margin: 0 auto;
  width: 100%;
}

@media only all and (min-width: 56em) {
  
 .container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 80em;
  } 
  
} // min 56em

