// StyleGuide Imports (dependencies for this pattern): 
@import '../_2-mixins.scss'; @import '../_4-colours.scss';

/* Buttons / CTAs */

.btn {
  font-size: 1.1em;
  background-color: $dark;
  color: #fff;
  display: inline-block;
  padding: 0.6em 1.2em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1.5em;
  border-bottom: none;
  @include transition(background-color,0.15s); // Kin Mixin
  &:hover {
    text-decoration: underline;
    background-color: scale-color($dark, $lightness: 15%);
  }
}

/* Removes awkward default styles on some inputs for mobile */
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none; 
}

/* Removes awkward UA side borders set, and pads to right height */
button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  border-left: 0;
  border-right: 0;
  height: 3em;
}