.heading {
  font-weight: 600; //Semibold - see below
  font-style: normal;
  color: $dark-text;
  margin: 0 0 1em 0;
  line-height: 1.2em;
}

.heading--mid {
  color: $mid;
}

.heading--pairing {
  margin: 0 0 0.15em 0;
}

.heading__large {
  font-size: 2.3em;
}

.heading__medium {
  font-size: 1.9em;
}

.heading__small {
  font-size: 1.7em;
}

.heading__smallest {
  font-size: 1.4em;
}

p,
ul,
ol,
.text {
  font-size: 1.15em;
  line-height: 1.4em;
  font-style: normal;
  font-weight: 300;
  color: $dark-text;
}

p,
.text {
  margin-bottom: 1.3em;
  max-width: 34em;
}

.text__small {
  font-size: 1em;
}

b, 
strong {
  font-weight: 600;
}

i, 
em {
  font-style: italic;
}

a {
  color: $mid-text;
  border-bottom: 0.1em dotted $mid;
  text-decoration: none;
}

.link--dark {
  color: $dark-text;
  border-bottom: 0.1em dotted $dark;
}

.link--mid {
  color: $mid;
  border-bottom: 0.1em dotted $mid;
}

.link--light {
  color: $light;
  border-bottom: 0.1em dotted $light;
}

.link--light-pastel {
  color: $light-pastel;
  border-bottom: 0.1em dotted $light-pastel;
}

.link--white {
  color: $white;
  border-bottom: 0.1em dotted $white;
}

//// Proxima Nova - Typekit Weights and Styles available 
// in the SFE Kit for reference;

/* Light 
  font-weight: 300;
  font-style: normal;
  
// Light Italic 
  font-weight: 300;
  font-style: italic;

// Regular 
  font-weight: 400;
  font-style: normal;

// Semibold
  font-weight: 600;
  font-style: normal;
  
font-family: "proxima-nova";

//////// */