.icon-header-left { background-image: url('png/header-left.png'); background-repeat: no-repeat; }

.icon-header-right { background-image: url('png/header-right.png'); background-repeat: no-repeat; }

.icon-pattern { background-image: url('png/pattern.png'); background-repeat: no-repeat; }

.icon-sos-logo { background-image: url('png/sos-logo.png'); background-repeat: no-repeat; }

