.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern {
  background-repeat: repeat; }

.bg--darkest {
  background-color: #112F0A; }

.bg--dark {
  background-color: #44693C; }

.bg--mid {
  background-color: #588D49; }

.bg--light {
  background-color: #61A445; }

.bg--light-pastel {
  background-color: #A1EA83; }

/* Buttons / CTAs */
.btn {
  font-size: 1.13em;
  background-color: #44693C;
  color: #fff;
  display: inline-block;
  padding: 0.6em 1.2em;
  font-weight: 600;
  cursor: pointer;
  margin: 0 1em 1.5em 0;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  border-top: none;
  border-bottom: 0.2em solid #22341e; }
  .btn:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 0 0.2em #71a765;
    background-color: #598a4f;
    border-bottom: 0.2em solid #2c4427; }

.btn--mid {
  background-color: #588D49;
  border-bottom: 0.2em solid #3e6333; }
  .btn--mid:hover {
    box-shadow: inset 0 0 0 0.2em #85b876;
    background-color: #588D49;
    border-bottom: 0.2em solid #4f7f42; }

.btn--light {
  background-color: #61A445;
  color: #ffffff;
  border-bottom: 0.2em solid #447330; }
  .btn--light:hover {
    box-shadow: inset 0 0 0 0.2em #9ece8a;
    background-color: #61A445;
    border-bottom: 0.2em solid #4e8337; }

.btn--light-pastel {
  background-color: #A1EA83;
  color: #44693C;
  border-bottom: 0.2em solid #72df45; }
  .btn--light-pastel:hover {
    box-shadow: inset 0 0 0 0.2em #c7f2b5;
    background-color: #A1EA83;
    border-bottom: 0.2em solid #89e564; }

.btn--contrast {
  background-color: #793EAC;
  border-bottom: 0.2em solid #492567; }
  .btn--contrast:hover {
    box-shadow: inset 0 0 0 0.2em #a271cc;
    background-color: #793EAC;
    border-bottom: 0.2em solid #552b78; }

.btn--contrast-alt {
  background-color: #252626;
  border-bottom: 0.2em solid #161717; }
  .btn--contrast-alt:hover {
    box-shadow: inset 0 0 0 0.2em #505252;
    background-color: #252626;
    border-bottom: 0.2em solid #1e1e1e; }

.btn--white {
  background-color: #ffffff;
  border-bottom: 0.2em solid #b3b3b3;
  color: #44693C; }
  .btn--white:hover {
    box-shadow: inset 0 0 0 0.2em #A1EA83;
    background-color: #ffffff;
    border-bottom: 0.2em solid #b3b3b3; }

.btn--disabled {
  background-color: #ccc;
  border-bottom: 0.2em solid #b3b3b3;
  color: #666; }
  .btn--disabled:hover {
    text-decoration: none;
    box-shadow: none;
    background-color: #ccc;
    border-bottom: 0.2em solid #b3b3b3; }

/* Removes awkward default styles on some inputs for mobile */
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* Removes awkward UA side borders set, and pads to right height */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-left: 0;
  border-right: 0;
  height: 3em; }

/*# sourceMappingURL=02-buttons.css.map */