.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern {
  background-repeat: repeat; }

.bg--darkest {
  background-color: #112F0A; }

.bg--dark {
  background-color: #44693C; }

.bg--mid {
  background-color: #588D49; }

.bg--light {
  background-color: #61A445; }

.bg--light-pastel {
  background-color: #A1EA83; }

.cta:before, .cta:after {
  display: table;
  line-height: 0;
  content: ""; }

.cta:after {
  clear: both; }

.cta {
  display: inline-block;
  width: 100%;
  margin: 0 0 1.5em 0;
  padding: 0.8em;
  background-color: #588D49;
  border-left: 1em solid #252626;
  border-bottom: none;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out; }
  .cta span {
    display: inline-block;
    vertical-align: 50%; }
  .cta:hover {
    background-color: #619b50; }
  .cta:hover span {
    text-decoration: underline; }

.cta span {
  display: inline-block;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff; }

.cta .icon-circle-arrow, .cta .icon-circle-arrow-white {
  width: 2.125em;
  height: 2.125em; }

.cta--light {
  background-color: #61A445;
  border-color: #44693C; }
  .cta--light span {
    color: #112F0A; }
  .cta--light:hover {
    background-color: #69b24b; }

.cta--light-alt {
  background-color: #793EAC;
  border-color: #552b78; }
  .cta--light-alt:hover {
    background-color: #8748bd; }

.cta--grey {
  background-color: #252626;
  border-color: #673592; }
  .cta--grey:hover {
    background-color: #343535;
    border-color: #733ba3; }

.cta.cta--dark {
  background-color: #44693C;
  border-left: none; }
  .cta.cta--dark:hover {
    border-left: none;
    background-color: #4f7b46; }

.cta.cta--light--no-border {
  background-color: #61A445;
  border-left: none; }
  .cta.cta--light--no-border span {
    color: #112F0A; }
  .cta.cta--light--no-border:hover {
    border-left: none;
    background-color: #69b24b; }

.cta.icon-pattern {
  border-color: #44693C; }
  .cta.icon-pattern:hover {
    border-color: #4f7b46; }

.cta--no-circle {
  border-color: #44693C; }
  .cta--no-circle div {
    display: none; }

.cta--block {
  border: none;
  padding: 1.5em; }
  .cta--block span {
    font-weight: 600; }

.cta--block.icon-pattern p {
  color: #ffffff; }

@media only all and (min-width: 20em) {
  .cta {
    border-left: 1.5em solid #252626;
    padding: 0.5em 0.8em 0.5em 0.8em; }
  .cta span {
    width: 80%;
    float: left;
    padding: 0.5em 0 0 0; }
  .cta div {
    width: 20%;
    float: right;
    text-align: right;
    padding-top: 0.3em; }
  .cta.cta--lockable {
    border-left: none;
    min-width: 15.5em; }
    .cta.cta--lockable span {
      width: 55%;
      float: none;
      vertical-align: 0.5em;
      height: 1.4em; }
    .cta.cta--lockable div {
      float: none; }
    .cta.cta--lockable .cta--lockable__lock {
      vertical-align: 0.1em; }
  .cta--no-circle span {
    width: 100%;
    padding-bottom: 0.8em; }
  .cta--block {
    border: none; }
    .cta--block span {
      width: 100%;
      margin-bottom: 0.5em; }
    .cta--block p {
      width: 80%;
      float: left; }
  .cta--block.cta--no-circle span, .cta--block.cta--no-circle p {
    width: 100%; } }

@media only all and (min-width: 30em) {
  .cta {
    padding: 0.6em 0.8em 0.6em 0.8em; }
  .cta span {
    font-size: 1.3em;
    padding: 0.4em 0 0 0; }
  .cta.cta--lockable span {
    padding: 0; }
  .cta--block {
    padding: 1.7em; } }

@media only all and (min-width: 32.5em) {
  .cta--no-circle {
    padding: 1.5em 1em 1.5em 1em; }
    .cta--no-circle span {
      padding-top: 0; } }

@media only all and (min-width: 58.75em) {
  .cta {
    padding: 0.6em 1.2em 0.6em 1.2em; } }

/*# sourceMappingURL=02-calls-to-action.css.map */