@charset "UTF-8";
.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg), linear-gradient(transparent, transparent);
  /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */ }

.icon-pattern {
  background-repeat: repeat; }

.bg--darkest {
  background-color: #222121; }

.bg--dark {
  background-color: #5C261B; }

.bg--mid {
  background-color: #8A2C1E; }

.bg--light {
  background-color: #C8412A; }

.bg--light-pastel {
  background-color: #F8826F; }

.list__jump-nav {
  padding: 1em;
  width: 100%;
  background-color: #feece9;
  text-align: center;
  margin: 0 0 2em 0; }

.list__jump-nav h2.heading:first-child {
  display: block;
  font-size: 1.4em;
  margin: 0 0 1em 0;
  color: #222121; }

.list__jump-nav__select {
  display: none; }

.js .list__jump-nav__select {
  display: inline-block;
  margin: 0 0 0.5em 0; }

.js .list__jump-nav ol {
  display: none; }

.list__jump-nav ol {
  list-style: none;
  text-align: center; }

.list__jump-nav li {
  list-style-type: none;
  display: inline-block; }
  .list__jump-nav li a {
    display: inline-block;
    width: 1.7em;
    padding: 0.2em 0;
    margin: 0 0.3em 0.2em 0.3em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    text-align: center;
    border-bottom: none;
    background-color: #5C261B;
    color: #ffffff;
    font-weight: 3 00; }
  .list__jump-nav li:nth-child(2n) a {
    background-color: #7a3224; }
  .list__jump-nav li:hover a {
    background-color: #8A2C1E; }
  .list__jump-nav li:before {
    content: none;
    counter-increment: none; }
  .list__jump-nav li.not-available a {
    background-color: inherit;
    color: #8A2C1E;
    cursor: not-allowed; }
    .list__jump-nav li.not-available a:hover {
      background-color: inherit; }

.list__content .heading {
  color: #222121; }

.list__content .heading span {
  font-weight: 300;
  color: #fde0db;
  display: inline-block;
  margin: 0 0.5em 0 0.2em; }

.list__content__back-to-top {
  font-size: 0.82em;
  font-weight: 300;
  font-style: italic;
  color: #8A2C1E; }

.list__content ol {
  list-style: none;
  margin: 0 0 2.5em 0; }

.list__content .list__content__item {
  margin: 0 0 1em 0; }
  .list__content .list__content__item:before {
    content: none;
    counter-increment: none; }

.list__content .list__content__item a {
  display: inline;
  margin: 0 0.2em 0 0;
  font-weight: 400; }

.list__content .list__content__item span {
  display: block;
  margin: 0.5em 0 0 0;
  font-style: italic; }

@media only all and (min-width: 30em) {
  .js .list__jump-nav__select {
    display: none; }
  .js .list__jump-nav ol {
    display: inline-block; } }

@media only all and (min-width: 41em) {
  .list__jump-nav {
    margin: 0 0 3em 0; }
  .list__jump-nav ol {
    max-width: 80%;
    margin: 0 auto; }
  .list__content .list__content__item span {
    display: inline; }
    .list__content .list__content__item span:before {
      content: "— "; }
  .list__content ol {
    margin: 0 0 3.5em 0; } }

@media only all and (min-width: 56em) {
  .list__content {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 4%;
    -webkit-column-gap: 4%;
    column-gap: 4%; }
  .list__content__container {
    display: inline-block;
    width: 90%;
    margin-right: 10%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    /* Makes effect only in Firefox v20+ */
    break-inside: avoid;
    /* IE10+, Opera 11.1—12.1 */ } }

/*# sourceMappingURL=06-content-indexes.css.map */