//// Brand

$light: #6BB64C;

$mid: #588D49; 

$dark: #44693C; 

$darkest: #112F0A;

//// OLD
$mid-bright: red;
$section-alpha: red;
$section-beta: red;
$section-gamma: red;
$section-delta: red;

//// Text-specific colours
/////// A11Y: These will validate to WCAG 2.0 
///////////// for AA small text (4.5:1)

$link-text: #5F39AC;

$mid-text: $mid;

$dark-text: $dark;

$default-text: #252626;

$disabled-text: #666;


//// Modules / Body

$white: #ffffff; // Yes, really.

$light-pastel: #A1EA83;

.pattern {
  background: url(../../assets/pattern.png);
  background: url(../../assets/pattern.svg),
    linear-gradient(transparent, transparent);
    /* This trick ensures that our background SVG is only 
    used in browsers that support it (a 'coincidence'
    feature test): https://css-tricks.com/a-complete-guide-to-svg-fallbacks/#fallback-svg-css-background-image */
}

.icon-pattern {
  background-repeat: repeat;
}


/// Calls to Action / Highlights

$contrast: #793EAC; // WCAG 2 AAA Compliant

$contrast-light: red; // Don't use with white for text

$contrast-alt: #252626; // WCAG 2 AAA Compliant

$contrast-alt-light: red; // Don't use with white for text

$feedback: #D7C5E7;

$error: #ffcdb3;

$disabled: #ccc;


/// Background utility classes

.bg--darkest {
  background-color: $darkest;
}

.bg--dark {
  background-color: $dark;
}

.bg--mid {
  background-color: $mid;
}

.bg--light {
  background-color: $light;
}

.bg--light-pastel {
  background-color: $light-pastel;
}